.Home .lander {
    z-index: 99999;
    margin: 120px;
    text-align: center;
}

.Home .lander h1 {
    z-index: 99999;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

.Home .lander p {
    z-index: 99999;
    color: #999;
}

.Home .textItem {
  font-size: large;
}

/* to replace background image
.Home {
    background: url("../components/images.jpg") no-repeat center center fixed;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    min-width:100vw;
    min-height:100vh;
  } */

  body {
    margin: 0;
    padding: 0;
    /* more styles */
  }
  
  .particles {
    position: fixed;
    right: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }